@Model EmpWebApp.Models.Employee
@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger">Delete</h2>
<div>
<table class="table table-striped">
    <tbody>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Model.Gemder</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>@Model.Salary</td>
        </tr>

    </tbody>
    </table>
    </div>
    @using (Html.BeginForm("Delete", "Employee", new { id = Model.Id }, FormMethod.Post))
    {
        <button class=" btn btn-danger me-2"></button>
    }
    @Html.ActionLink("Cancel", "Index", null, new {@class="btn btn-secondary"})
